<div class="container-fluid bg-secondary">

  <div class="container header d-flex justify-content-between">
    <div>
      <h1>{{title}}</h1>
    </div>
    
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Ipsa itaque eius, tempora eum blanditiis nihil. Est odio, vel 
    aperiam voluptatibus quasi eum quaerat, natus magnam blanditiis 
    consequatur, amet ullam quae.</p>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <app-goal></app-goal>
</div>